################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/src/caserver/.vs
/src/caserver/build
/src/caserver/out/build/x64-debug
/src/caserver/CMakeSettings.json
/src/caserver/docker-compose.debug.yml
/src/caserver/docker-compose.yml
